<!DOCTYPE html>
<html>
    <head>
        <title>Flask Template Example</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </head >
    <body >
        <div class="container">            
            <h1>NOTES :  </h1>
            <div class="table-responsive" >       
                <table class="table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Title</th>
                            <th>Body</th>
                            <th>Created At</th>
                            <th>Due At</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i,t,b,c,d in data%}
                            <tr>
                                <td>{{i}}</td>
                                <td>{{t}}</td>
                                <td>{{b}}</td>
                                <td>{{c}}</td>
                                <td>{{d}}</td>
                            </tr>
                        {% endfor%}
                    </tbody>
                </table>
            </div >
            <h3> Message from server : {{mess}}</h3> 
            <br>
            <br>
            <br>
            <div class="row">
                <div class="container bg-light text-dark" style="padding:30px;">
                    <h2> Add a new Note </h2> 
                    <form method="post" action="{{url_for('index')}}">
                        <div class="form-group">
                            <label> Enter Title : </label>
                            <input class="form-control" type="text" name="title" placeholder="Title">
                        </div>
                        <br>

                        <div class="form-group">
                            <label> Enter Body : </label>
                            <input class="form-control" type="text" name="body" placeholder="Body">
                        </div>
                        <br>
                        
                        <div class="form-group">
                            <label> Set Due Date : </label>
                            <input class="form-control" type="date" id="dd" name="dd">
                        </div>
                        <br>
                        
                        <div class="form-group">
                            <label> Set Due Time : </label>
                            <input class="form-control" type="time" id="dt" name="dt">
                        </div>
                        <br>
                        
                        <button class="btn btn-primary"> Submit </button>
                    </form >
                </div>
                <br>
                <br>
                <br>
                <div class="bg-light text-dark container" style="padding:30px"  >
                    <h2> Delete a Note </h2>
                    <form method="post" action="{{url_for('delnote')}}">
                        <div class="form-group">
                            <label> Enter Note ID : </label>
                            <input class="form-control" type="text" name="id" placeholder="id">
                            <br>
                        </div>
                        <button class="btn btn-primary" > Submit </button>
                    </form >
                </div>
            </div>
            
        </div >
    </body>
</html>

